.slider {
  position: relative;
  width: 10rem;
  height: 1px;
  background-color: blue;
  margin: 1rem;

  .bead {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: #0c0;
  }
}
