<div class="report-container">
  <form name="employeeSelect">
    <label for="" class="material-label">
      Select which report to view
      <select name="employee" class="material-select"
              ng-model="selection.employee"
              ng-options="employee.id as employee.name
                          for employee in employees">
      </select>
    </label>
  </form>
  <table class="report">
    <tbody>
      <tr ng-repeat="shift in schedules.shifts(selection.employee)">
        <td class="reported-shift-date">
          {{ schedules.get(shift.scheduleId).date | date }}
        </td>
        <td class="reported-shift">
          {{ shift.startTime | time }} to {{ shift.endTime | time }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
