<schedule model="schedule" edit-target="editTarget"></schedule>

<div class="tray">
  <form name="addShift" class="addshift">
    <div class="employeebadge"
         ng-repeat="employee in availableEmployees"
         ng-class="{
           'is-selected': editTarget.selectedEmployee == employee.id
         }">
      <label class="employeebadge-entity"
             for="employeebadge-checkbox-{{ employee.id }}"
             ng-mousedown="$event.preventDefault(); selectEmployee(employee)">
        <input type="checkbox" class="employeebadge-checkbox"
               name="employee" id="employeebadge-checkbox-{{ employee.id }}"
               ng-model="editTarget.selectedEmployee"
               ng-true-value="{{ employee.id }}"
               ng-false-value="null"
               ng-blur="editTarget.selectedEmployee = null">
        <div class="employeebadge-initial">
          {{ employee.name.substr(0, 1) }}
        </div>
        <div class="employee-name">{{ employee.name }}</div>
        <div class="employee-role">{{ employee.role }}</div>
        <div class="employee-rate">${{ employee.payRate | number:2 }}/hour</div>
      </label>
    </div>
  </form>
</div>

<form ng-if="editTarget.currentShift" name="editShift" class="editshift">
  <label for="editing_startTime" class="material-label">
    <input type="time" name="startTime" id="editing_startTime"
           class="material-input" ng-model="editTarget.currentShift.startTime">
    start time
  </label>
  <label for="editing_endTime" class="material-label">
    <input type="time" name="endTime" id="editing_endTime"
           class="material-input" ng-model="editTarget.currentShift.endTime">
    end time
  </label>

  <input type="button" value="&minus;" alt="Delete"
         class="button round-button giant-button delete-button"
         ng-click="$event.preventDefault();
           deleteShift(editTarget.currentShift)">
  <input type="button" value="&times;" alt="Cancel"
         class="button round-button giant-button close-button"
         ng-click="closeShift()">
  <input type="button" value="&check;" alt="Save"
         class="button round-button giant-button save-button"
         ng-click="editShift.$valid && submitShift()">
</form>
