<schedule model="schedule" edit-target="editTarget"></schedule>

<div class="tray">
  <form name="addShift" class="addshift">
    <div class="employeebadge"
         ng-repeat="employee in availableEmployees"
         ng-class="{
           'is-selected': editTarget.selectedEmployee == employee.id
         }">
      <label class="employeebadge-entity"
             for="employeebadge-checkbox-{{ employee.id }}"
             ng-mousedown="$event.preventDefault(); selectEmployee(employee)">
        <input type="checkbox" class="employeebadge-checkbox"
               name="employee" id="employeebadge-checkbox-{{ employee.id }}"
               ng-model="editTarget.selectedEmployee"
               ng-true-value="{{ employee.id }}"
               ng-false-value="null"
               ng-blur="editTarget.selectedEmployee = null">
        <div class="employeebadge-initial">
          {{ employee.name.substr(0, 1) }}
        </div>
        <div class="employee-name">{{ employee.name }}</div>
        <div class="employee-role">{{ employee.role }}</div>
        <div class="employee-rate">${{ employee.payRate | number:2 }}/hour</div>
        <div class="employee-scheduled">
          Scheduled: {{ hoursWorked[$index] | number }}
        </div>
      </label>
    </div>
  </form>
</div>

<a href="#/schedule-list" ng-click="close()"
   class="button round-button large-button close-button schedule-exit-button">
  &times;
</a>
<a href="#/schedule-list" ng-click="save()"
   class="button round-button large-button save-button schedule-save-button">
  &check;
</a>
