<div class="schedule" ng-class="hoursCountAsClassObject()">
  <div class="schedulecontent">
    <ul class="shifts">
      <li class="shift" ng-repeat="shift in shifts"
          ng-style="{
            'left': (shift.startTime - schedule.openTime)
                      * pctOfDayPerHour + '%',
            'width': shift.length * pctOfDayPerHour + '%'
          }">
        <label class="shift-entity" for="shift-checkbox-{{ shift.id }}"
               ng-class="{
                 'is-active': shift.id === editTarget.currentShift
               }">
          <div class="employee-name">{{ shift.employee.name }}</div>
          <div class="employee-role">{{ shift.employee.role }}</div>
          <input type="checkbox" class="shift-checkbox"
                 id="shift-checkbox-{{ shift.id }}"
                 ng-model="editTarget.currentShift.id"
                 ng-true-value="{{ shift.id }}"
                 ng-false-value="null">
        </label>
      </li>
    </ul>
  </div>
  <ol class="gridmarks">
    <li class="gridmarks-col" ng-repeat="hour in hours"
        ng-style="{ 'width': pctOfDayPerHour + '%' }">
    </li>
  </ol>
  <ol class="gridmarks-header">
    <li class="gridmarks-label" ng-repeat="hour in hours">
      <span class="shortlabel">
        {{ hour | date: 'H' }}
      </span>
      <span class="medlabel">
        {{ hour | date: 'h a' }}
      </span>
      <span class="longlabel">
        {{ hour | date: 'h:mm a' }}
      </span>
    </li>
  </ol>
</div>
