$redorange: #f45a4e;
$burntorange: #d84c42;
$denim: #4c659b;
$lightdenim: #c3d7e2;
$darkdenim: #3f5273;
$teal: #3e99c9;
$lightgray: #f1f1f1;

$importanttextsize: 1.38rem;
$primarytextsize: 1rem;
$secondarytextsize: 0.83rem;

$hourminwidth: 2.25rem;
$meddatewidth: 5rem;
$longdatewidth: 6.75rem;
