@import 'vars';
@import 'ui';
@import 'modules/tabs';
@import 'modules/slider';
@import 'modules/add-shift-tray';
@import 'modules/fullscreen-list';
@import 'modules/schedule-list';
@import 'modules/shift';
@import 'modules/schedule';
@import 'modules/report';
@import 'modules/message-overlay';
@import 'modules/employees-list';

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
